.listyle{
    border-top: 1px solid;
    border-bottom : 1px solid;
}
.uistyl{
    list-style-type: none;
    padding-left: 0px;
}

.todolistbtn{
    color: white;
    background-color: green;
    cursor: pointer;
}

.dragablecontainer{
    border: 1px solid;
}